@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HeadOverHeels";
  src: url("/head-over-heels.otf.woff2/head-over-heels.otf.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-head-over-heels {
  font-family: "HeadOverHeels", monospace;
}

body {
  /* Prevent touch actions like scroll and pinch-to-zoom: */
  touch-action: none;
}

html,
body,
#root {
  height: 100%;
  @apply bg-pureBlack;
}

.editor-selected {
  @apply border-metallicBlue;
  border-left-width: calc(2 * var(--vscode-editorCodeLens-fontSize));
}

:focus-visible {
  /* @apply outline-midRed outline-1; */
  outline: calc(var(--scale) * 1px) solid;
  @apply outline-midRed;
}
