@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Prevent touch actions like scroll and pinch-to-zoom: */
  touch-action: none;
}

html,
body,
#root {
  height: 100%;
  @apply bg-pureBlack;
}

.editor-selected {
  @apply border-metallicBlue;
  border-left-width: calc(2 * var(--vscode-editorCodeLens-fontSize));
}
