# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.DS_Store

#vite-pwa dist for in dev
dev-dist

.vite

supabase/.temp

# Playwright
playwright-report/
test-results/

build-stats*.html

src-tauri/gen
src-tauri/target