@tailwind base;
/* TODO - maybe can remove components? */
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* TODO: revert and use only while loading */
    background-color: black;
    /* @apply loading-border text-white; */
    /* Prevent touch actions like scroll and pinch-to-zoom: */
    touch-action: none;
  }

  *:focus {
    outline: none;
  }
}

@layer components {
  .bitmap-text-link {
    @apply text-white zx:text-zxWhite bg-metallicBlue hover:bg-white hover:text-metallicBlue zx:bg-zxBlue zx:hover:bg-zxWhite zx:hover:text-zxBlue inline-block pl-oneScaledPix pt-oneScaledPix;
  }
}
